$black: rgba(0,0,0,.8);
$primary-light: #458ba8;
$primary-light: #458ba8;
$primary-text: #347c9a; // Needed for sufficient color contrast
$primary: #134568;
$comp: rgb(238, 164, 80);
$light: #A0CDE1;
$light-shade: rgba(160, 205, 225, 0.5);