@media(max-width:850px) {
  .card {
    flex-direction: column;
    margin-right: 0;
  }  
  
  .landing__container {
    h1 {
      font-size: 250%;
    }    
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .contact {
    display: block;
  }

  .contact__content {
    justify-content: center;
  }
  .contact {
    .form {
      margin: 0 auto;
    }
  }
}

@media(max-width:400px) {
  .stack__row {
    display: block;
  }
  .stack__item {
    width: 100%;
  }
}
